:root {
    --page-container-width: 64ch;
    --main-text-font-size: 20px;
    --main-text-line-height: 1.45em;
    --main-text-alignment: justify;
    --main-text-hyphenation: manual;
    --header-height: 2em;

    color-scheme: dark light;
}

html, body {
    font-family: sans-serif;
    font-size: var(--main-text-font-size);
    line-height: var(--main-text-line-height);

    text-rendering: optimizeLegibility;
}

p {
    margin: 0 0 1em 0;

    text-align: var(--main-text-alignment);
    hyphens: var(--main-text-hyphenation);
}

h1 {
    text-align: center;
    line-height: 1em;
}

h2,h3,h4 {
    margin-top: 2em;
}

h3 {
    border-bottom: solid 1px;
}

a.anchor-link {
    font-size: 0.5em;
    margin-left: 5px;
    text-decoration: none;
    vertical-align: middle;
}

ol {
    counter-reset: item
}

ol > li {
    display: block
}

ol > li:before {
    content: counters(item, ".") ". ";
    counter-increment: item
}

header,main,footer {
    max-width: var(--page-container-width);
    margin: 0 auto;
    padding: 0 10px
}

header {
    min-height: var(--header-height);
    margin-top: 20px;

    display: flex;
    gap: 1em 2em;
    flex-wrap: wrap;
}

.logo {
    width: 2em;
    height: 2em;
    
    vertical-align: middle;
    margin-right: 10px;
}

nav {
    display: inline-block;
    min-width: fit-content;
}

nav a {
    margin: 0 10px;
}

.nav-lang {
    flex: 1;
    text-align: right;
}

.nav-lang a {
    margin: 0;
}

main {
    min-height: calc(100vh - var(--main-text-line-height) * 6);
}

footer, footer p {
    font-size: 14px;
    text-align: left;
}

blockquote {
    border-left: solid #fff 3px;
    margin: 0;
    padding-left: 40px;
}

img {
    width: 100%;
}

table {
    border-collapse: collapse;
}

table th,td,tr {
    border: 1px solid var(--main-text-color);
}

table th,td,tr {
    padding: 10px;
}

span[title]:hover:after {
    content: attr(title)
}

div.warning-box {
    border: 1px solid #ff0;
    padding: 20px;
    margin: 1.5lh 0;
}
