<p>
    you can suggest changes to this website by creating a pull request on the
    <a href="https://github.com/nikthink/pauseai.ca">
        github repo: https://github.com/nikthink/pauseai.ca
    </a>,
    or by emailing nik at
    <a href="mailto:nicolas.m.lacombe@gmail.com">
        nicolas.m.lacombe@gmail.com
    </a>.
</p>
<div>
    <!-- Google Tag Manager Start -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M9JNKTHYDM"></script>
    <script src="/js/gtm.js"></script>
    <noscript>
        <iframe
            id="gtm-iframe"
            src="https://www.googletagmanager.com/ns.html?id=GTM-KJX8MKSH"
            height="0"
            width="0"
        ></iframe>
    </noscript>
    <!-- Google Tag Manager End -->
</div>
