<div class="header__inner">
  <h1 class="header__title">
    <a class="header__title-link" href="{{ site.Home.RelPermalink }}">
      {{- $headerLogo := .Param "headerLogo" | default "/images/pauseai-ca.png" -}}
      {{- $headerLogoAlt := .Param "headerLogoAlt" | default "PauseAI Canada logo" -}}
      <img src="{{ $headerLogo }}" alt="{{ $headerLogoAlt }}" class="h1-logo" />
      <span class="header__title-text">{{ site.Params.headerTitle | default site.Title }}</span>
    </a>
  </h1>
  <button class="header__toggle" type="button" aria-controls="site-menu" aria-expanded="false" aria-label="Toggle menu">
    <span class="header__toggle-icon" aria-hidden="true"><span></span></span>
    <span class="header__toggle-text">Menu</span>
  </button>
  <nav id="site-menu" class="menu language header__nav">
    <ul class="menu__list language__list">
      {{- partial "header/menu.html" (dict "menuID" "main" "page" .) -}}
      {{- partial "header/language_selector.html" . -}}
    </ul>
  </nav>
</div>
