.button-primary {
    background-color: var(--accent-color);
    color: var(--background-color);
    border-radius: 8px;
    font-weight: bold;
    padding: 8px;
    border: 0;
}

.h1-logo {
    height: 1em;
}

.luma-iframe {
    border: 1px solid #bfcbda88;
    border-radius: 4px;
}

.mailing-list-subscribe {
    display: flex;
    gap: 10px;

    [name="email"] {
        flex-grow: 1;
        max-width: 30ch;
    }
}
