To subscribe to our mailing list, send an email to <a href="mailto:pauseai-mtl-subscribe@lists.riseup.net">pauseai-mtl-subscribe@lists.riseup.net</a>.

<form action="https://lists.riseup.net/www" method="post" class="mailing-list-subscribe">
    <label for="mailing-list-subscribe-email">Mailing list:</label>
    <input type="text" id="mailing-list-subscribe-email" name="email" placeholder="Email address" />

    <input type="hidden" name="list" value="pauseai-mtl" />
    <input type="hidden" name="action" value="subrequest" />
  
    <input type="submit" name="action_subrequest" value="Subscribe" class="button-primary" />
</form>
