{{ define "main" }}
  {{- if not (.Param "hideTitle") -}}
    <h1>
      {{- if and (.Param "logo") (ne (.Param "logoLocation") "header") -}}
        <img src="{{ .Param "logo" }}" alt="page logo" class="h1-logo" />
        &nbsp;
      {{- end -}}
      {{ .Title }}
    </h1>
  {{- end -}}
  {{ partial "page/author.html" . }}
  {{ partial "main/dates.html" . }}
  {{ partial "page/translation_list.html" . }}
  {{ partial "page/toc.html" . }}
  {{ .Content }}
  {{ partial "page/terms.html" (dict "taxonomy" "tags" "page" .) }}
  {{ partial "page/terms.html" (dict "taxonomy" "categories" "page" .) }}
  {{ partial "page/page_nav.html" . }}
  {{ partial "page/page-end.html" . }}
{{ end }}
