name: Deploy hugo site to github pages

on:
    push:
        branches:
            - main
    workflow_dispatch:

permissions:
    contents: read
    pages: write
    id-token: write

concurrency:
    group: "pages"
    cancel-in-progress: false

defaults:
    run:
        shell: bash

jobs:
    build:
        runs-on: ubuntu-latest
        env:
            HUGO_ENVIRONMENT: production
            TZ: America/Toronto
        steps:
            # - name: install hugo package
            #   run: sudo apt install -y hugo # github actions now uses too old a version: v0.123.7+extended
            - name: Install Hugo CLI
              run: |
                  HUGO_VERSION=0.152.2
                  wget -O ${{ runner.temp }}/hugo.deb "https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb" \
                      && sudo dpkg -i ${{ runner.temp }}/hugo.deb
            - name: checkout
              uses: actions/checkout@v4
              with:
                  submodules: recursive
                  fetch-depth: 0
            - name: hugo build
              run: |
                  hugo --cacheDir "${{ runner.temp }}/hugo_cache" --enableGitInfo --panicOnWarning --printI18nWarnings --printPathWarnings
            - name: creating website archive
              run: |
                  mkdir ./public/archives/ &&
                       tar -zcf ./public/archives/pauseai-ca-full-latest.tgz .editorconfig .github/workflows/* ./*
            - name: Upload published site to github pages
              id: deployment
              uses: actions/upload-pages-artifact@v3
              with:
                  path: ./public/
    deploy:
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        runs-on: ubuntu-latest
        needs: build
        steps:
            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v4
